.footerContainer{
    position: relative;
    padding-top: 16px;
    padding-left: 8px;
}
.program{
    margin-bottom: 8px;
}
.letterContact{  
    color: rgba(22, 24, 35, .5);
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 5px;
}