.wrapper {
    width: 356px;
    padding: 20px 0 26px 12px;
    
    &:hover {
        
    }
}
.scrollBar {
    width: 356px;
    padding: 20px 0 26px 12px;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    perspective: 1px;
    transform-style: preserve-3d;
    padding-right: 12px;
    perspective-origin: right top;
    top: 60px; 
    bottom: 0;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    z-index: 9;
    padding-right: 8px;
}
